#map { position: absolute; top: 0; bottom: 0; width: 100%; };
.searchbox{
    width: 300px;
    display: flex;
    justify-content: space-around;
&__submit{
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 110px;
    height: 44px;
    background: rgba(174, 181, 185, 0.5);
border-radius: 5px;
    &::after{
        content: "Submit";
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
    }
}
}
.tools{
    display: flex;
    width: 140px;
    justify-content: space-around;
}
.controlsbox{
    
    padding-top:10px;
    display: flex;
    justify-content: space-around;
    &__changeimage{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background: rgba(180, 184, 187, 0.4);
        border-radius: 5px;
        &--icon{
            width: 15px;
            height: 20px;
            background: url(/assets/img/changeImage.svg);
        }
    }
    &__changelang{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(180, 184, 187, 0.4);
        border-radius: 5px;
        width: 71px;
        height: 44px;
        &--lang{
            color:#fff;
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
        }
       
    }
    &__changetemp{
        cursor: pointer;
        background: rgba(180, 184, 187, 0.4);
        border-radius: 5px;
        width: 88px;
        height: 44px;
        
    }
    
}
.mainbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.weatherbox{
    margin-top:50px;
    background: rgba(0, 0, 0, 0.7);
    color:white;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__location{
        width: 300px;
        display: flex;
        justify-content: space-evenly;
        font-size: 32px;
        font-family: 'Montserrat', sans-serif;
    }
    &__date{
        font-size: 28px;
        font-family: 'Montserrat', sans-serif;
    }
    &__daysbox{
        width: 300px;
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        
    }
    &__mainday{
        display: flex;
        justify-content: space-between;
        width: 500px;
        &--temp{
            font-family: 'Montserrat', sans-serif;
            font-size: 60px;
        }
        &--description{
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
        }
    }
    &__daysbox{
        width: 500px;
        &--day1{
            display: flex;
            flex-direction: column-reverse;       
        }
        &--day2{
            display: flex;
            flex-direction: column-reverse;       
        }
        &--day3{
            display: flex;
            flex-direction: column-reverse;       
        }
    }
}
.mapsbox{
    width: 400px;
    height: 400px;
    background: rgba(0, 0, 0, 0.7);
    font-size: 32px;
        font-family: 'Montserrat', sans-serif;
    color:white;
    #map{
        position: relative;
        height: 100%;
    }
}
.wrapper{
    height: 100%;
}
html{
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin:0;
}
@media screen and (max-width: 1016px){
.mainbox{
    flex-direction: column;
}
}
@media screen and (max-width: 584px){
   .controlsbox{
       flex-direction: column;
   }
   .weatherbox__mainday{
       width: 300px;
       flex-direction: column;
   }
   .mapsbox{
    margin-left: 90px;
   }
   .weatherbox{
       margin-left:20px;
   width: 500px;
       &__location{
           font-size: 20px;
       }
       &__date{
        font-size: 28px;
        font-family: 'Montserrat', sans-serif;
    }
    &__daysbox{
     flex-direction: column;
     margin-left: 200px;
        font-size: 18px;
   
        
    }
    &__mainday{
  
        &--temp{
           
            font-size: 30px;
        }
        &--description{
           
            font-size: 20px;
        }
    }
    
   }
    }