
.searchbox{
    width: 300px;
    display: flex;
    justify-content: space-around;
&__submit{
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 110px;
    height: 44px;
    background: rgba(174, 181, 185, 0.5);
border-radius: 5px;
    &::after{
        content: "Submit";
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
    }
}
}
.tools{
    display: flex;
    width: 240px;
    justify-content: space-around;
}
.controlsbox{
    display: flex;
    justify-content: space-around;
    &__changeimage{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background: rgba(180, 184, 187, 0.4);
border-radius: 5px;
        &--icon{
            width: 15px;
            height: 20px;
            background: url(/assets/img/changeImage.svg);
        }
    }
    &__changelang{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(180, 184, 187, 0.4);
        border-radius: 5px;
        width: 71px;
        height: 44px;
        &--lang{
            color:#fff;
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
        }
       
    }
    &__changetemp{
        cursor: pointer;
        background: rgba(180, 184, 187, 0.4);
        border-radius: 5px;
        width: 88px;
        height: 44px;
        
    }
}